{% extends "dashboard/_base.html" %}
{% block content %}
{% from "page.html" import render_pagination %}
{% from "dashboard/macro.html" import show_flash_messages %} 
{% from "dashboard/macro.html" import form_submit %}


<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">订单管理</h1>

  {{show_flash_messages()}}

  <div class="row">
    <div class="col-lg-12">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"></h3>
        </div>
        <div class="panel-body">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="per10">ID</th>
                <th class="per60">Host</th>
                <th class="per30">Guest</th>
                <th class="per30">状态</th>
                <th class="per30">创建时间</th>
              </tr>
            </thead>

            <tbody>
              {% for item in items %}
              <tr>
                <td><a href="{{url_for('dashboard.engagement.order',order_id=item.id)}}">{{item.id}}</a></td>
                <td><a href="{{url_for('dashboard.engagement.orders',host=item.host)}}">{{item.host_name}}</a></td>
                <td><a href="{{url_for('dashboard.engagement.orders',guest=item.guest)}}">{{item.guest_name}}</a></td>
                <td><a href="{{url_for('dashboard.engagement.orders',status=item.status)}}">{{item.status_name}}</a></td>
                <td>{{item.created}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    {% if pagination %}
      {{render_pagination(pagination)}}
    {% endif %}
    </div>
  </div>
</div>
{% endblock %}

