Flask==0.10.1

sqlalchemy==0.9.8
PyMySQL

redis==2.10.3
pycrypto==2.6.1
enum34==1.0.4

Flask-WTF>=0.9.3
Flask-Script
flask-restful
Flask-Migrate
Flask-Testing
Flask-SQLAlchemy==2.1
flask-debugtoolbar

nose==1.3.4
coverage==3.7.1

gevent==1.0.1
gunicorn

raven==5.1.1
blinker

fabric

qiniu==7.0.2
bs4
wechat_web_auth
