{% extends "dashboard/_base.html" %}
{% block content %}
{% from "page.html" import render_pagination %}
{% from "dashboard/macro.html" import show_flash_messages %} 
{% from "dashboard/macro.html" import form_submit %}


<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">验证码管理</h1>
    </div>
  </div>

  {{show_flash_messages()}}

  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">生成验证码</h3>
        </div>
        <div class="panel-body">
          <form class="form-horizontal group-border hover-stripped" role="form" method="post" id="form"
          action=''>
{#            <input id="csrf_token" name="csrf_token" type="hidden" value="{{csrf_token()}}">#}
            {{ form_submit() }} 
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
  </div>
  <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">过滤</h3>
            </div>
            <div class="panel-body">
                    <div class="form-group">
                        <label class="col-lg-1 col-md-2 col-sm-12 control-label">是否使用</label>
                        <div class="col-lg-10 col-md-10">
                            <a href="{{url_for('dashboard.account.code',is_used=0)}}" class="btn btn-xs btn-success">未使用的</a>
                            <a href="{{url_for('dashboard.account.code',is_used=1)}}" class="btn btn-xs btn-success">已使用的</a>
                        </div>
                    </div>
            </div>
        </div>

  <div class="row">
    <div class="col-lg-12">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">验证码列表</h3>
        </div>
        <div class="panel-body">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="per10">ID</th>
                <th class="per60">邀请码</th>
                <th class="per30">是否使用</th>
              </tr>
            </thead>

            <tbody>
              {% for item in items %}
              <tr>
                <td>{{item.id}}</td>
                <td>{{item.code}}</td>
                <td>{{item.is_used}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      {{render_pagination(pagination)}}

    </div>
  </div>
</div>
{% endblock %}

