{% extends "dashboard/_base.html" %}
{% block style %}
<link rel="stylesheet" type="text/css" media="all" href="{{ static_file('dashboard/js/dropzonejs/basic.min.css') }}" />
<link rel="stylesheet" type="text/css" media="all" href="{{ static_file('dashboard/js/dropzonejs/dropzone.min.css') }}" />
{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Dashboard</h1>
    </div>
  </div>
  <div class="row">
  <div class="col-lg-1">
    <div class="thumbnail">
      <img src="http://7xsatk.com1.z0.glb.clouddn.com/f02590370759f7e6badab86e08e054ac.jpg?imageMogr/v2/thumbnail/495x800" style="width: 140px; height: 140px;">
      <div class="caption text-center">
          <button type="button" class="btn btn-xs btn-danger btn-del">删除</button>
      </div>
    </div>
  </div>
  
  <div class="col-lg-1">
    <div class="thumbnail">
      <img src="http://7xsatk.com1.z0.glb.clouddn.com/f02590370759f7e6badab86e08e054ac.jpg?imageMogr/v2/thumbnail/495x800" style="width: 140px; height: 140px;">
      <div class="caption text-center">
          <button type="button" class="btn btn-xs btn-danger btn-del">删除</button>
      </div>
    </div>
  </div>
  <div class="col-lg-1">
    <div class="thumbnail">
      <img src="http://7xsatk.com1.z0.glb.clouddn.com/f02590370759f7e6badab86e08e054ac.jpg?imageMogr/v2/thumbnail/495x800" style="width: 140px; height: 140px;">
      <div class="caption text-center">
          <button type="button" class="btn btn-xs btn-danger btn-del">删除</button>
      </div>
    </div>
  </div>
  <div class="col-lg-1">
    <div class="thumbnail">
      <img src="http://7xsatk.com1.z0.glb.clouddn.com/f02590370759f7e6badab86e08e054ac.jpg?imageMogr/v2/thumbnail/495x800" style="width: 140px; height: 140px;">
      <div class="caption text-center">
          <button type="button" class="btn btn-xs btn-danger btn-del">删除</button>
      </div>
    </div>
  </div>
  <div class="col-lg-1">
    <div class="thumbnail">
      <img src="http://7xsatk.com1.z0.glb.clouddn.com/f02590370759f7e6badab86e08e054ac.jpg?imageMogr/v2/thumbnail/495x800" style="width: 140px; height: 140px;">
      <div class="caption text-center">
          <button type="button" class="btn btn-xs btn-danger btn-del">删除</button>
      </div>
    </div>
  </div>
  <div class="col-lg-1">
    <div class="thumbnail">
      <img src="http://7xsatk.com1.z0.glb.clouddn.com/f02590370759f7e6badab86e08e054ac.jpg?imageMogr/v2/thumbnail/495x800" style="width: 140px; height: 140px;">
      <div class="caption text-center">
          <button type="button" class="btn btn-xs btn-danger btn-del">删除</button>
      </div>
    </div>
  </div>
  <div class="col-lg-1">
    <div class="thumbnail">
      <img src="http://7xsatk.com1.z0.glb.clouddn.com/f02590370759f7e6badab86e08e054ac.jpg?imageMogr/v2/thumbnail/495x800" style="width: 140px; height: 140px;">
      <div class="caption text-center">
          <button type="button" class="btn btn-xs btn-danger btn-del">删除</button>
      </div>
    </div>
  </div>
  <div class="col-lg-1">
    <div class="thumbnail">
      <img src="http://7xsatk.com1.z0.glb.clouddn.com/f02590370759f7e6badab86e08e054ac.jpg?imageMogr/v2/thumbnail/495x800" style="width: 140px; height: 140px;">
      <div class="caption text-center">
          <button type="button" class="btn btn-xs btn-danger btn-del">删除</button>
      </div>
    </div>
  </div>
  <div class="col-lg-1">
    <div class="thumbnail">
      <img src="{{static_file('dashboard/images/add_pic_icon.svg')}}" style="width: 140px; height: 140px;">
      <div class="caption text-center">
          <button type="button" class="btn btn-xs btn-danger btn-del">添加</button>
      </div>
    </div>
  </div>
  
</div>
</div>
{% endblock %}

{% block js %}
{% endblock %}
