{% extends "dashboard/_base.html" %}

{% block content %}
{% from "dashboard/macro.html" import form_textarea %}
{% from "dashboard/macro.html" import form_field %}
{% from "dashboard/macro.html" import form_checkbox %}
{% from "dashboard/macro.html" import form_submit %}
{% from "dashboard/macro.html" import show_flash_messages %} 

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        修改
        <span class="text-danger">[{{user.user_name}}]</span>
        的邀约信息
      </h1>
    </div>
  </div>

  {{show_flash_messages()}}

  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
        </div>
        <div class="panel-body">
          <form class="form-horizontal group-border hover-stripped" role="form" method="post" id="user_form"
          action='' enctype="multipart/form-data">
            {{ form.csrf_token }} 
            {{ form_textarea(form.description,row=15) }} 
            {{ form_checkbox(form.theme)}}
            {{ form_field(form.price) }}
            {{ form_submit() }} 
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}
{% block js %}
  
  <script type="text/javascript" charset="utf-8">
  </script>
{% endblock %}

